<h1>Editing cenologist</h1>

<%= render "form", cenologist: @cenologist %>

<br>

<div>
  <%= link_to "Show this cenologist", @cenologist %> |
  <%= link_to "Back to cenologists", cenologists_path %>
</div>
