<div id="<%= dom_id winestrain %>">
  <p>
    <strong>Porcentaje:</strong>
    <%= winestrain.porcentaje %>
  </p>

  <p>
    <strong>Wine:</strong>
    <%= winestrain.wine_id %>
  </p>

  <p>
    <strong>Strain:</strong>
    <%= winestrain.strain_id %>
  </p>

</div>
