<h1>Editing winestrain</h1>

<%= render "form", winestrain: @winestrain %>

<br>

<div>
  <%= link_to "Show this winestrain", @winestrain %> |
  <%= link_to "Back to winestrains", winestrains_path %>
</div>
