<h1>Editing jobstittle</h1>

<%= render "form", jobstittle: @jobstittle %>

<br>

<div>
  <%= link_to "Show this jobstittle", @jobstittle %> |
  <%= link_to "Back to jobstittles", jobstittles_path %>
</div>
